Ambientes Virtuais e Caches do Python
------------------------------------
venv/
.venv/
pycache/
*.pyc
*.pyo
*.pyd

Ficheiros de Dados Brutos e Processados (os mesmos se encontram no Releases)
--------------------------------------------------------------------
data/raw/
data/processed/

Artefatos de Performance Gerados
(Estes ficheiros são gerados pelo build_artifacts.py e não devem ser versionados)
-------------------------------------------------------------------------


Modelos Treinados
(Modelos podem ser grandes e são considerados artefactos, não código-fonte)
---------------------------------------------------------------------
models/

Ficheiros de Jupyter Notebook
-----------------------------
.ipynb_checkpoints/

Configuração do Streamlit
-------------------------
.streamlit/

Logs de Ferramentas
-------------------
catboost_info/

Metadados do Sistema Operacional
--------------------------------
.DS_Store
Thumbs.db

