# Framework da Aplicação Web
streamlit==1.49.1

# Análise e Manipulação de Dados
pandas==2.3.2
numpy==1.26.4
pyarrow==15.0.0

# Machine Learning e NLP
scikit-learn==1.7.2
joblib==1.5.2
xgboost==3.0.5
lightgbm==4.6.0
catboost==1.2.8

# Visualização de Dados
matplotlib==3.10.6
seaborn==0.13.2

# Requisições HTTP
requests==2.32.5

# Testes

pytest==8.4.2
